<!-- ERROR CHECKER-->
<!-- errors.any? checks for any errors-->


<!-- using obj allows you to set obj: to any instance variable when rendering the partial --->
<% if obj.errors.any? %>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-danger">
        <div class="panel-heading">
        <h2 class="panel-title">
        
        <!-- pluralize takes the @article, and if there is more then 1 error (errors.count) then it pluralizes the string "error"-->
        <%= pluralize(obj.errors.count, "error")  %>
        prohibited this <strong><%= obj.name %></strong> from being saved:
        </h2>
        </div>
     <div class="panel-body">
         <ul>
            <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg%></li>
            <%end%>
        </ul>
         
     </div>   
        </div>
       
       
    </div>
</div>
<%end%>
<!-- END ERROR CHECKER-->